[Unit]
Description=o11v4 Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/o11/o11v4
ExecStart=/home/o11/o11v4/o11_v4 -p 5555
Restart=always
User=root

[Install]
WantedBy=multi-user.target
